<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lims Web自助工具</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../../static/framework/weui/weui.css " media="all">
    <link rel="stylesheet" href="../../../static/framework/weui/example.css " media="all">
    <script src="../../../static/js/jquery-3.4.1.min.js" charset="UTF-8"></script>
    <script src="../../../static/framework/weui/zepto.min.js" charset="UTF-8"></script>
    <script src="../../../static/framework/weui/example.js" charset="UTF-8"></script>

</head>
<body>


    <div class="weui-cells">
        <a class="weui-cell  weui-cell_access" href="http://baidu.com">
            <div class="weui-cell__bd">
                <p>委托单报告类型转换</p>
            </div>
            <div class="weui-cell__ft">进入修改</div>
        </a>
        <a class="weui-cell  weui-cell_access" href="javascript:">
            <div class="weui-cell__bd">
                <p>委托单样品规格型号改变</p>
            </div>
            <div class="weui-cell__ft">进入修改</div>
        </a>

    </div>



    <div class="weui-footer weui-footer_fixed-bottom">
        <p class="weui-footer__links">
            <a href="javascript:home();" class="weui-footer__link">Lims Mobile</a>
        </p>
        <p class="weui-footer__text">Copyright &copy; 2019-2020 besbing.cn</p>
    </div>
</body>

</html>